.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  background: linear-gradient(to left, #cfd9df 0%, #e2ebf0 100%);
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.Weather-App {
  background-color: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 20px;
}

#searchbar {
  background: linear-gradient(to left, #cfd9df 0%, #e2ebf0 100%);
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  width: 75%;
  padding: 15px;
}

#submit {
  background: #4b7087;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  border-radius: 10px;
  border: none;
  margin-left: 5px;
  padding: 15px 30px;
}

.weather-data {
  display: flex;
  justify-content: space-between;
}

h1 {
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 45px;
  margin-left: 10px;
}

main {
  padding: 30px 0;
}

.weather-details {
  font-size: 16px;
  line-height: 25px;
  color: #869198;
  font-weight: 500;
  margin-left: 10px;
}

.weather-container {
  display: flex;
  align-items: center;
}

.weather-date {
  font-size: 18px;
  color: #4b7087;
  margin-left: 10px;
}

.weather-state {
  font-size: 15px;
  color: #4b7087;
}

.weather-icon {
  width: 80px;
  height: 80px;
}

.weather-temperature {
  font-size: 80px;
  font-weight: bold;
  line-height: 1;
}

.weather-unit {
  font-size: 30px;
  margin-top: -35px;
}

strong {
  color: #4b7087;
  font-weight: 500;
}

header {
  padding: 0 0 30px 0;
}

footer {
  padding: 30px 0 0 0;
  font-size: 12px;
  text-align: center;
}

a {
  color: #4b7087;
  text-decoration: none;
}
